/*ellipsis () {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}*/
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.drag-layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}
body.drag .drag-layer {
  display: block;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

canvas {
  /*border: 1px solid red;*/
  cursor: crosshair;
}

body:not(.android) canvas {
  z-index: 1000;
  position: absolute;
}

.drag {
  background: rgba(255, 0, 0, 0.3);
  border: red 5px dashed;
}

video {
  position: absolute;
}
